<nav>
    <ul>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </ul>
</nav>

<div>
    <img src="" alt="header-tamagotchi">

    <form action="/signup" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <button type="submit">Sign up</button>
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}
    </form>

    <form action="/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <button type="submit">Log in</button>
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}
    </form>
</div>


<div id="about">

</div>

<div id="contact">

</div>