<nav>
    <ul>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </ul>
</nav>

<div>
    <img src="" alt="header-tamagotchi">

    <form action="/user/signup" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <button type="submit">Sign up</button>
        {{#if signinMessage}}
            <p>{{signinMessage}}</p>
        {{/if}}
    </form>

    <form action="/user/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <button type="submit">Log in</button>
        {{#if loginMessage}}
            <p>{{loginMessage}}</p>
        {{/if}}
    </form>
</div>


<div id="about">

</div>

<div id="contact">

</div>