<nav class="navbar-index">
    <img src="../images/index_navbar_logo.png" alt="loo">
    <ul>
        <a href="#about"><img src="../images/index_navbar_bnt_about.png" alt="btn-about"></a>
        <a href="#contact"><img src="../images/index_navbar_bnt_contact.png" alt="btn-contact"></a>
    </ul>
</nav>

<div class="index-login-sec">
    <div class="auth-btns">
        <a href="#signup"><img class="signupImg" src="../images/btn_signup.png" alt=""></a>
        <a href="#login"><img class="loginImg" src="../images/btn_login.png" alt=""></a>
    </div>
</div>
<div >
<div class="authent-container" id="signup" class="authent">
    <form action="/user/signup" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username">
    <label for="password">Password: </label>
    <input type="password" name="password">
    <button class="submit-km-btn" type="submit">Sign up</button>
    {{#if signinMessage}}
    <p>{{signinMessage}}</p>
    {{/if}}
    </form>
</div>

<div class="authent-container" id="login" class="authent">
    <form action="/user/login" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username">
        <label for="password">Password: </label>
        <input type="password" name="password">
        <button class="submit-km-btn" type="submit">Log in</button>
        {{#if loginMessage}}
        <p>{{loginMessage}}</p>
        {{/if}}
    </form>
    </div>
</div>
</div>


<divclass="someSpace">
    </div>
    <div id="about" class="index-about-sec">
        <div class="about-div">
            <img src="../images/index_about_header.png" alt="aboutimg">
            <p>This CO2 Tamagotchi thrives of green movement. The more you walk,
                cycle or use public transportation, the more your Tamagotchi will flourish.
                Start your green movement today!
            </p>
        </div>



    </div>

    <div class="index-contact-sec">
        <img class="pair-programmingImg" src="../images/index_contact_icon.png" alt="headsup">
        <img id="contact" class="contactImg" src="../images/index_contact_header.png" alt="aboutimg">
        <p>Made by the Express Pairprogramming Team</p>
        <p>bingthemachine@gmail.com</p>
    </div>