<h1>Hello {{userInSession.username}}</h1>
<div>
<!--    <a href="#change">Change User Details</a> -->
    <a href="/user/delete/{{userInSession._id}}">Delete User</a>
    <br>
    <a href="/user/logout">Logout</a>
</div>
