@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}
.navbar {
  background-image: url("../images/navbar_top.png");
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  color: white;
  font-size: 40px;
  margin-left: 30px;
}
.navbar img {
  height: 90px;
  width: 90px;
  margin-right: 30px;
}
.create-egg {
  background-image: url("../images/create egg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px 0 70px 0;
}

.name-tamagotchi {
  background: transparent;
  background-image: url("../images/btn_name\ your\ tamagotchi.png");
  background-size: 400px;
  background-repeat: no-repeat;
  width: 400px;
  border: none transparent;
  outline: none;
  border-color: transparent;
  border-radius: 40px;
  height: 85px;
  padding: 25px;
}
.create-egg input { font-size: 20px; font-family: 'Press Start 2P', cursive; text-align:center; 
  color: rgb(255, 194, 202);}

.create-btn {
  width: 400px;
  margin-top: 30px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
